@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #1f1f1f;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: 0;
    border-top: 1px solid #666666;
}




/* HEADER */
header {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    place-items: center;
    position: relative;
    height: 15dvh;

    h3 {
        font-size: 2rem;
        font-weight: 600;
    }

    .action-buttons {
        display: flex;
        gap: 1rem;
        color: #f1f1f1;
        cursor: pointer;
        font-weight: 500;
        transition: color .4s;

        &:hover {
            color: #929292;
        }

        .logout-button {
            color: #f12e20;
        }
    }
}



/* CARDS-CONTAINER */
#cards-container {
    display: grid;
    place-items: center;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 
            minmax(min(16rem, 100%), 1fr));
        gap: 1rem;
    }
    
    .task {
        position: relative;
        background: #3B3B3B;
        border-radius: 1rem;
        padding: 1rem;
        transition: transform .4s;

        &:hover {
            transform: scale(1.05);
        }

        .task-header {
            display: flex;
            position: relative;

            .action-buttons {
                display: flex;
                gap: .5rem;
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                transition: opacity .4s;

                .button {
                    display: flex;
                    background: #929292;
                    border-radius: 50%;
                    aspect-ratio: 1;
                    width: 1rem;
                    transition: filter .4s;
                }
                .button:hover {
                    cursor: pointer;
                    filter: contrast(.5);
                }
                .edit-task {background-color: #dac919;}
                .delete-task {background-color: #f12e20;}
            }
        }

        .task-body {
            display: flex;
            margin-bottom: 1em;

            p {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .task-footer {
            position: absolute;
            bottom: 1em;
            display: flex;
            gap: .25em;
            align-items: center;
            color: #666666;

            .icon {
                font-size: 1rem;
            }
            .date-detail {
                font-size: .75rem;
            }
        }
    }
    .task:hover .action-buttons {
        opacity: 1;
    }

    .task.done {
        background: #2B2B2B;
    }
}



/* EXTRAS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* MODAL */

.modal-content {
    background-color: #303030 !important;
}

.done-box {
    display: flex;
    align-items: center;
    gap: .5em;
    border: 2px solid;
    border-radius: .5rem;
    padding: .5rem .75rem;

    input {
        aspect-ratio: 1;
        width: 1.25rem;
    }
    input:focus {
        box-shadow: none;
    }

    label {
        user-select: none;
        margin: 0;
    }
}




.modal#login[data-type="auth"] {
    .register-text {
        display: none;
    }
}
.modal#login[data-type="register"] {
    .auth-text {
        display: none;
    }
}
